<%= render layout: "welcome" do %>
    <% if user_signed_in? %>
    <!--<h4>
      Вы вошли как <br /><br />
      <% @linker = '<i class="fa fa-user"></i><span style="color: green">'.html_safe+' '+@user[:email]+'</span>'.html_safe%>
      <%= link_to @linker, edit_user_path(current_user[:id])%>

      <br /><br />
      <% @linker = '<i class="fa fa-sign-out"></i>'.html_safe %>
      <%= link_to @linker+" Выход ", destroy_user_session_path, :method =>:delete%>
    </h4>
    !-->
        <legend>Книги:</legend>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"><span class="fa fa-book"></span> Домашняя бухгалтерия</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"><span class="fa fa-book"></span> Проект FinPln</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        </div>
    <% else %>
          <%= form_for(:user, :as=> @_frm, :url => new_user_session_path(@_frm)) do |f| %>
              <legend>Войти</legend>
              <div><%= f.label :email, 'Email' %>
                <%= f.email_field :email, :autofocus => true %></div>
              <br />
              <div><%= f.label :password, 'Пароль' %>
                <%= f.password_field :password %></div>
              <br />
              <div><%= f.submit "Войти", class:"btn btn-info", style: "width:100%"%></div>
          <% end %>

    <% end %>
<% end %>
